:root {
  --primary-color: #e29c68;
  --secondary-color: #f3f0d1;
  --tertiary-color: #bf4040;
  --hover-color: #a20e0e;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  margin:0;
  padding:0;
  overflow-x:hidden;
  }

body {
  text-align: center;
  font-family: "Monaco";
  margin: 0 auto;
  color: var(--tertiary-color);
  background: var(--secondary-color);
  background: 100%;
}

#0 {
  overflow: hidden;
}

/* styling intro to me */

.intro-design {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 48px;
}

.intro {
  font-size: 28px;
}

.intro-to-me {
  position: absolute;
  top:40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 50%;
  text-align: center;
  font-family: "Monaco";
  margin: 0 auto;
  background: var(--primary-color);
  color: var(--tertiary-color);
}

.rider {
  color: var(--secondary-color);
}

.front-page {
  background: var(--primary-color);
  width: 100%;
  height: 100%;
}



/* end of intro to me */

/* projects section */

.section-title {
  font-size: 48px;
  color: var(--primary-color);
  border-bottom: 3px solid var(--tertiary-color);
  padding: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.projects {
  width: 100%;
  margin: 0 auto;   
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-name a {
  text-decoration: none;
  color: var(--secondary-color);
}

.project {
  flex: 1;
  margin: 20px;
  background: var(--tertiary-color);
  border-radius: 15px;
}

.project img {
  width: 100%;
  border-radius: 15px;
}

.project:hover {
  background: var(--hover-color);
}

.project-bio {
  padding: 25px;
  line-height: 1.3;
  text-align: center;
}

.project-bio h3 {
  font-size: 28px;
  color: var(--secondary-color);
}

.project-bio h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
  color: var(--primary-color);
}

/* about me section */

.secondary {
  color: var(--tertiary-color);
  border-color: var(--primary-color);
}

.me {
  margin: 50px auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.my-section {
  flex: 3 50%;
}

.my-story {
  flex: 1 2 40%;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0 10px;
}

.picture {
  margin: 0 0 10px 15px;

}

.phone {
  color: var(--primary-color);
}

.picture img {
  max-width: 100%;
  border-radius: 15px;
}

.my-story p {
  font-size: 20px;
  text-align: center;
  line-height: 2.3;
  color: var(--hover-color);
}

.link {
  text-decoration: none;
  color: #a20e0e;
}


/* footer section */

footer {
  background: var(--primary-color);
  width: 100%;
  padding: 10px 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: var(--secondary-color);
}

.footer-cr {
  line-height: 1.5;
}

/* media queries */

@media screen and (max-width: 980px) {

  .intro-design {
      align-content: center;
      justify-content: center;
      text-align: center;
  }

  .intro-design h1 {
      width: 100%;
  }

  .me {
      flex-direction: column;
  }

  .picture {
      margin: 0 5px 30px 5px;
  }
}

@media screen and (max-width: 768px) {
  .intro-design h1 {
      font-size: 36px;
  }

  .intro {
      font-size: 24px;
  }

  .section-title {
      font-size: 36px;
  }
}

@media screen and (max-width: 575px) {
  .intro-design h1 {
      font-size: 40px;
  }

  .intro {
      font-size: 20px;
  }

  .my-story p {
      line-height: 1.5;
  }

  .section-title {
     font-size: 36px;
     width: 95%;
  }

  .intro-to-me {
      width: 75%;
  }
}

